:root {
  --main-bg-color: #141e46;
  --light-white: #fff5e0;
  --light-red: #ff6969;
  --container-width: 768px;
  --font-body-stack : Arial, Helvetica, sans-serif;
  --font-heading-stack: Impact, Charcoal, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--light-white);
}
.container {
  max-width: var(--container-width);
  margin: 2rem auto;
}
.hangman {
  padding: 20px;
  height: 680px;
  background-color: var(--main-bg-color);
}
.hangman-stats {
  color: lightyellow;
  font-family: var(--font-body-stack);
}
.hangman-title {
  font-family: var(--font-heading-stack);
  text-transform: uppercase;
  text-align: center;
  color: var(--light-white);
  font-size: 3rem;
}
.hangman-board {
  border: 2px dashed white;
  display: block;
  margin: 0 auto;
}
.hangman-word {
  color: var(--light-white);
  font-size: 2.4rem;
  text-align: center;
  margin: 1.5rem 0;
  letter-spacing: 0.6rem;
}
.hangman-instructions {
  font-family: var(--font-body-stack);
  text-align: center;
  color: var(--light-red);
  font-style: italic;
}
.hangman-letters {
  list-style-type: none;
  max-width: 580px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.hangman-letter {
  text-transform: uppercase;
  font-family: var(--font-body-stack);
  padding: 0.3rem 0.7rem;
  border-radius: 4px;
  margin: 1rem 1px 0 1px;
  background: var(--light-white);
  color: #000;
  border: 3px solid var(--main-bg-color);
  font-size: 1.2rem;
  -webkit-user-select: none;
}
.hangman-letter-active {
  background-color: #555;
}
.hangman-letter:hover {
  cursor: default;
  border: 3px solid var(--light-red);
}
.button {
  display: block;
  margin: 1.2rem auto;
  font-size: 1.4rem;
  padding: 0.8rem 1.2rem;
  background: var(--light-red);
  color: var(--light-white);
  border: 0;
  border-radius: 8px;
  font-weight: bold;
}
.button:focus {
  outline: 0;
  box-shadow: 0 0 10px var(--light-red);
}
.button:hover {
  background-color: rgb(255, 105, 105, 0.9)
}

/* instructions screen */
.how {
  line-height: 1.7;
  padding: 1rem 1.8rem;
  font-family: var(--font-body-stack);
  color: var(--light-white);
  text-align: center;
}

/* end screen */
.result {
  padding: 1rem 0;
  font-family: var(--font-body-stack);
  font-size: 2rem;
  color: var(--light-white);
  text-align: center;
  text-shadow: 2px 2px 2px var(--light-red);
}